@{
    ViewData["Title"] = "Home Page";
}

<div class="position-absolute top-50 start-50 translate-middle text-center" >
    <h1 class="display-4">Bem-vindo</h1>
    <a href="Fornecedores">
        <button type="button" class="btn btn-success">Entrar</button>
    </a>
</div>
